/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.navs{

	display: flex;
	margin-top: 30px;
}

nav{

	display: flex;
	justify-content: space-evenly;
	width: 100%;
	align-items: center
}

.r3{
	display: flex;
	justify-content: space-evenly;
	
	align-items: center;
	margin-top: 30px;
    margin-left: 40px;
    width:880px;
}

hr{ width:880px;}

.twocol{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	align-items: center;
	margin-top: 30px;
}

.box1 {
	width:50%;
	border: 1px solid black;
	background-color:#ebebeb;
	padding:30px;
}

.col{margin:0 auto;width:33%;}

.header
{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.fa 
{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
    align-items: center;
    margin-left:30px;
    width:880px;
}

.gs{
	font-family:arial;
	border:1px solid black;    
	width: 145px;
	margin: auto;
	padding:15px;
	text-align: center;
}

.gs1{
	font-family:arial;
	border:1px solid black;    
	width: 145px;
	padding:15px;
	text-align: center;
	margin-top: 30px;
}

ul {

	list-style-type: square;
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height:140px;
  margin-left: 30px;
 }















.logo, nav, ul, li, .cs
{
	
}

.navs {
	
	width:100%

}

nav{

}

.logo{
	
	
}

li {

}



.cs{
padding-top:70px
}



h1{font-size:50px !important;height:200px;}

.title{width:230px;text-align:center;font-size:60px !important}

/* *{border: 1px solid black} */

.ff{margin:0 auto;width:90%}

.f1, .f2 {width:47%;}

.middle-img{margin-top:30px;text-align: center;}

.b{}

.onecol{width:880px;margin-top: 30px;align: center;margin-left:30px}

.footer{margin:0 auto; width:100%;text-align:center;margin-bottom: 40px;}

.logo{width:183px;}

body{width:960px;margin:0 auto}

@media (max-width: 800px){
         body, hr, .r3, .fa,.middle-img, .f1, .f2, .col{width:100% !important;}
         .cs, .h2{display: none;}
         .navs{
            flex-direction:column-reverse;
        }
        .logo{margin:0 auto;}
        nav{height:150px}
        .middle-img{margin:0 auto;width:100%;margin-left: 34px;margin-top: 30px;}
       
}

@media (max-width: 500px){
    nav, .fa, .r3{
        flex-direction:column;
        margin-top: 20px;
        
    }
    .navs{
        flex-direction:column-reverse;
    }
    nav div {border-top: 1px solid grey;width:100%;text-align: center;padding-top: 20px;padding-bottom: 20px;}
    nav{height:100%;color:grey}
    .bc {border-bottom: 1px solid grey;margin-bottom:30px}
    .tp{margin-top:25px;}
}